<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="http://fonts.googleapis.com/css?family=Didact+Gothic" rel="stylesheet" />
<link href="static/css/default.css" rel="stylesheet" type="text/css" media="all" />
<link href="static/css/fonts.css" rel="stylesheet" type="text/css" media="all" />


</head>
<body>
<div id="header-wrapper">
	<div id="header" class="container">
		<div id="logo">
			<h1><a href="#">PGNBuddy</a></h1>
		</div>
		<div id="menu">
			<ul>
				<li><a href="{{url_for('main.dashboard')}}" accesskey="2" title="">Dashboard</a></li>
				<li><a href="{{url_for('main.home')}}" accesskey="1" title="">Homepage</a></li>
				<li><a href="#" accesskey="3" title="">About Us</a></li>
				<li><a href="#" accesskey="5" title="">Contact Us</a></li>
			</ul>
		</div>
	</div>
	<div class="titlebox-dash2">
		<h1 class="editpgnheader">{{ pgnname }}</h2>
		<br>
		<p>{{ pgn }}</p>
		<a href="{{ url_for('main.nothingyet') }}" title="" class='button' id='editbutton'>
			Rename PGN</a>
		<a href="{{ url_for('main.nothingyet') }}" title="" class='button' id='editbutton'>
			Switch Folder</a>
		<a href="{{ url_for('main.nothingyet') }}" title="" class='button' id='editbutton'>
			Add Description</a>
		<a href="{{ url_for('main.nothingyet') }}" title="" class='button' id='editbutton'>
			Add clock values to PGN</a>
		<a href="{{ url_for('main.nothingyet') }}" title="" class='button' id='editbutton'>
			Add Analysis Evaluation comments to PGN</a>
		<a href="{{ url_for('main.nothingyet') }}" title="" class='button' id='editbutton'>
			Doesnt do anything</a>
		<a href="{{ url_for('main.nothingyet') }}" title="" class='button' id='editbutton'>
			Doesnt do anything</a>
		<a href="{{ url_for('main.nothingyet') }}" title="" class='button' id='editbutton'>
			Doesnt do anything</a>
		<div id="banner" class="container">
		</div>
	</div>
</div>
<div id="copyright" class="container">
	<p>&copy; PGNBuddy licensed under GPL. All rights reserved.</a>.</p>
</div>
</body>
</html>