<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : Lorikeet 
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20140314

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
<title></title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="http://fonts.googleapis.com/css?family=Didact+Gothic" rel="stylesheet" />
<link href="static/css/default.css" rel="stylesheet" type="text/css" media="all" />
<link href="static/css/fonts.css" rel="stylesheet" type="text/css" media="all" />
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


<!--[if IE 6]><link href="default_ie6.css" rel="stylesheet" type="text/css" /><![endif]-->

</head>
<body>
<div id="header-wrapper">
	<div id="header" class="container">
		<div id="logo">
			<h1><a href="{{url_for('main.home')}}">PGNBuddy</a></h1>
		</div>
		<div id="menu">
			<ul>
				<li class="active"><a href="{{url_for('main.dashboard')}}" accesskey="2" title="">Dashboard</a></li>
				<li><a href="{{url_for('main.home')}}" accesskey="1" title="">Homepage</a></li>
				<li><a href="#" accesskey="3" title="">About Us</a></li>
			</ul>
		</div>
	</div>
	<div class="titlebox-dash">
		<div id="banner" class="container">
			<div class="title">
				<form action="{{ url_for('main.uploadpgn') }}" method="POST" enctype="multipart/form-data">
					<div>
						<label class="button" id="uploadpgn">
							<input type="file" accept=".pgn" class="button" id="hiddenform" name="pgnfile" onchange="form.submit()">Upload PGN 
						</label>
					</div>
				</form>
			<div>
				<a href="{{ url_for('main.lichessupload') }}" title="Import PGN from lichess" class='button' id='uploadlichess'>
					Export PGN from lichess</a>
				<a href="{{ url_for('main.lichessliterate') }}" title="Import literate PGN from lichess" class='button' id='lichessliterate'>
					Export literate PGN from lichess</a>
				<a href="{{ url_for('main.exportall') }}" title="export all games from lichess" class='button' id='exportall'>
					Export all games from lichess</a>
				<a href="{{ url_for('main.nothingyet') }}" title="" class='button' id='tbd'>
					Doesnt do anything</a>
                    <form action="{{ url_for('main.filterdb') }}" method="POST" enctype="multipart/form-data">
                        <div id="filterbutton">
                            <label id="filterdb">Filter database by folder
                                <input type=text title="View DB" id="filterdbinput" name="folder" placeholder="type folder name here">
                            </label>
                        </div>
                    </form>
					<div class="userdatabase2">
							<ul>
								<li><h2 style="font-size: 25px; font-weight: 550;">{{ folder }}</h2>
									<ol>
									{% for pg in pgnlist %}
										{% if pg['folder'] == folder %}
											<script type="text/javascript">
												$( function() {
													$( "#accordion-{{ loop.index }}" ).accordion({
														active: false,
														autoHeight: false,
														navigation: true,
														collapsible: true
													});
												});
											</script>
											<div id="accordion-{{loop.index}}" class="accordionbutton">
												<h2 class="newbutton" style="font-size: 16px; width: 90%;">{{ pg.name }}</h2>
												<div class="hiden">
													<li><p>{{ pg['game'] }}</p></lii>
													{% if pg['frame'] %}
														<iframe src="{{ pg['frame'] }}" width=760 height=500 frameborder=0 class="lichessiframe"></iframe>
													{% endif %}
													<form action="{{ url_for('main.downloadpgn') }}" method="post" class="downloadpgn">
														<input type="hidden" value="{{ pg['pgnId'] }}" name="downloadpgn" />
														<input type="submit" id="downloadpgn" value="Download PGN" style="width: 65%;"/>
													</form>
													<form action="{{ url_for('main.downloadjsonpgn') }}" method="post" class="downloadjsonpgn">
														<input type="hidden" value="{{ pg['pgnId'] }}" name="downloadpgn" />
														<input type="submit" id="downloadjsonpgn" value="Download JSON PGN" style="width: 65%;"/>
													</form>
													<form action="{{ url_for('main.editpgn') }}" method="post" class="editpgn">
														<input type="hidden" value="{{ pg['pgnId'] }}" name="editpgn" />
														<input type="submit" id="editpgn" value="Edit PGN" style="width: 65%;"/>
													</form>
													<form action="{{ url_for('main.deletepgn') }}" method="post" class="delpgn">
														<input type="hidden" value="{{ pg['pgnId'] }}" name="pgntodel" />
														<input type="submit" id="delpgn" value="Delete PGN. This cannot be undone." style="width: 65%;"/>
													</form>
												</div>
											</div>
										{% endif %}
									{% endfor %}
									</ol>
								</li>
							</ul>
					</div>
			    </div>
		</div>
</div>
</div>
<div id="copyright" class="container">
		<p>&copy; PGNBuddy under GPL licensing. All rights reserved.</a>.</p>
</div>
</body>
</html>