<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : Lorikeet 
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20140314

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="http://fonts.googleapis.com/css?family=Didact+Gothic" rel="stylesheet" />
<link href="static/css/default.css" rel="stylesheet" type="text/css" media="all" />
<link href="static/css/fonts.css" rel="stylesheet" type="text/css" media="all" />

<!--[if IE 6]><link href="default_ie6.css" rel="stylesheet" type="text/css" /><![endif]-->

</head>
<body>
<div id="header-wrapper">
	<div id="header" class="container">
		<div id="logo">
			<h1><a href="{{url_for('main.home')}}">PGNBuddy</a></h1>
		</div>
		<div id="menu">
			<ul>
				<li class="active"><a href="{{url_for('main.dashboard')}}" accesskey="1" title="">Dashboard</a></li>
				<li><a href="{{url_for('main.home')}}" accesskey="2" title="">Homepage</a></li>
				<li><a href="#" accesskey="3" title="">About Us</a></li>
				<li><a href="#" accesskey="5" title="">Contact Us</a></li>
			</ul>
		</div>
	</div>
	<div class="titlebox-dash">
		<div id="banner" class="container">
			<div class="title">
				<div class="uploadtut">
					<img src="/static/css/images/lichessgamelink1.png" style="width: 300px; height: auto; margin-bottom: 15px;">
					<br>
					<img src="/static/css/images/lichessgamelink2.png" style="width: 250px; height: auto;">
					<img src="/static/css/images/lichessgamelink3.png" style="width: 260px; height: auto;">
					<p style="font-size: 22px; padding-top: 15px;">To export a game from lichess.org, any link that resembles the
						 above links will be sufficent, as long the link is lichess.org followed by 8 or more charicters. You can also enter the 8 digit game string.</p>
				</div>
                <form method="POST">
					<input name="gamestring" placeholder="enter link of the lichess game you wish to upload">
					<br>
					<input name="name" placeholder="enter a name for this PGN, if left blank the game identifier will be used.">
					<br>
					<input name="folder" placeholder="enter a folder to store the game, if no folder exists, it will be created">
					<br>
                    <input type="submit" value="Submit">
                </form>     
			</div>
		</div>
	</div>
</div>
<div id="copyright" class="container">
		<p>&copy; PGNBuddy licensed under GPL. All rights reserved.</a>.</p>
</div>
</body>
</html>